.order{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 84vh;
    width: 100%;
 
}
.order-title{
    display: flex;
    height: 13%;
    width: 100%;
    background: green;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: large;

}
.order-history{
    display: flex;
    height: 90%;
    width: 100%;
    gap: 10px;
}
.span1{
    display: flex;
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    color: green;
}

.order-div-container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    margin-left:50px ;
    align-items: start;
    gap: 5px;

}
.order-div{
  display: flex;
  height: 12%;
  width: 90%;
  align-items: center;
  background: rgb(236, 235, 235);
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 5px;
}
.order-div1 span:nth-of-type(1){
    font-size: 16px;
    font-weight: 800;
}

.order-product-list{
    display: flex;
    flex-direction: column;
    height: 96%;
    width: 50%;
    align-items: center;
    gap: 5px;
}
.order-product-list-title{
    font-size: 30px;
}

@media (max-width:700px) {
    .order-history{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        gap: 10px;
    } 
    .order-div-container{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        margin-left:0px ;
        align-items: center;
        gap: 5px;
    
    } 
    .order-div{
        display: flex;
        height: 12%;
        width: 96%;
        align-items: center;
        background: rgb(236, 235, 235);
        justify-content: space-between;
        border-radius: 5px;
        padding: 0px 5px;
      } 
      .order-div1 span:nth-of-type(1){
        font-size: 14px;
        font-weight: 800;
    }
    .order-div1 span:nth-of-type(2){
        font-size: 12px;
        font-weight: 500;
        color: gray;
    }
    .order-product-list{
        display: flex;
        flex-direction: column;
        height: 96%;
        width: 100%;
        align-items: center;
        gap: 5px;
    }
}